.App {
  background:  rgb(51, 50, 50);
  height: 100vh;
  width: 100vw;
text-align: center;
}

.Head {
  color: #ffffff;
  padding: 5%;
  font-size: 50px;
}

.Column {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Table {
  background: rgb(235, 231, 231);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  justify-content: center;
  border-radius: 10px;
  flex-direction: column;
  max-width: 1000px;  
  min-height: 400px;
}
